//
// Variables
// --------------------------------------------------

// Page colors
// -------------------------
@background:       #1b1b1b;
@navigation:       #2c2c2c;
@navigation-logo:  #434343;
/* @content */

// Text colors
// -------------------------
/* @text */
/* @text-a */
/* @text-h1 */
@text-grey: #777;

// Decoration colors
// -------------------------
@accent-primary:   #ff9f2e;
@accent-secondary: #ffc784;
@shadow-dark:      #000000;



/* >>>> Dark scheme >>>> */
/*
@content: #5f5f5f;
@text:    #dddddd;
@text-a:  #ffc784;
@text-h1: #ff9f2e;
@a-hover: #ffd8aa;
*/

/* >>>> Light scheme >>>> */
@content: #e0e0e0;
@text:    #555555;
@text-a:  #d52121;
@text-h1: #b92121;
@a-hover: #e54c4c;
