// Page colors
@background:       #1b1b1b;
@navigation:       #2c2c2c;
@navigation-hover: #434343;
@content:          #e0e0e0;

// Text colors
@text-h1: #b92121;
@text-a:  #d52121;

// Misc colors
@accent-primary:   #ff9f2e;
@accent-secondary: #ffc784;
@strong-shadow:    rgba(0,0,0,0.5);

body {
  margin: 0;
  padding: 0;
  background-color: @background;
}
