//
// Documentation Styles
// --------------------------------------------------

.docs {
  z-index: @layer-content;

  article {
    min-height: @bg-height-upper + @bg-height-lower;

    margin-top: 32px;
    padding: 40px 40px 30px;

    border-radius: 10px;
  }
}
