//
// Variables
// --------------------------------------------------

// Common Sizes
// -------------------------
@sm-media-min:  768px;
@sm-content:    729px;
@sm-justified:  729px;
@md-media-min:  992px;
@md-content:    942px;
@md-justified:  750px;
@lg-media-min: 1200px;
@lg-content:   1140px;
@lg-justified:  750px;

@gutter-size:      20px;
@bg-height-upper: 100px;
@bg-height-lower: 200px;

// Z-Indices
// -------------------------
@layer-header:    30;
@layer-header-bg: -1;
@layer-content:   20;
@layer-footer:    10;
@layer-footer-bg: -2;
@layer-message:   50;

// Fonts
// -------------------------
@font-primary: 'Open Sans', sans-serif;
